body {
    background-color: whitesmoke;
}

#navigation {
    background-color: #add8e6;
    padding: 0.5em;
}

#footer {
    background-color: lightblue;
}

/*Sorgt dafür das das Bild keinen Rand auf der Startseite hat */
#main {
    padding: 0em;
}